.body-right {
    margin-left: 300px;

    @include media-breakpoint-down(md) {
        margin-left: 0;
    }

    .breadcrumb {
        .breadcrumb-item {
            a {
                color: #a5a5a5;
            }
        }

        .active {
            color: #838383;
        }
    }

    .top-dashboard {
        .card {
            .card-body {
                padding: 40px 0;
                color: white;

                h1 {
                    font-weight: 500;
                    font-size: 55px;
                }

                p {
                    margin: 0;
                    font-weight: 100;
                }
            }
        }

        .camp-card {
            background-color: rgb(0, 135, 210);
        }

        .list-card {
            background-color: #e03838;
        }

        .subs-card {
            background-color: #2db649;
        }

        .orange { background-color: #f6993f; }
    }

    .card-dashboard { height: 100%; }

    .bottom-dashboard {
        .card {

            .card-title {
                padding: 10px 20px;
                margin: 0;
                background-color: #002431;
                color: white;

                a {
                    color: white;
                }
            }

            .card-body {
                height: 280px;
                padding: 5px 10px;
                overflow-y: auto;

                .table {
                    thead {
                        th {
                            border-top: none;
                        }
                    }

                    tbody {
                        tr {
                            th {
                                width: 20px;
                            }

                            td {
                                // max-width: 100px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }
                    }
                }

                .btn {
                    color: rgb(241, 241, 241);
                }
            }
        }
    }
}

// breadcrumb arrow .breadcrumb {
//     li {
//         &:after {
//             color: #ccc;
//             content: " > ";
//             padding: 0 5px;
//         }
//     }
// }
