.lists-table {
    table {
        tbody {
            .fa-trash, .fa-pencil-alt { cursor: pointer; }
            .fa-trash:hover { color: #f00; }
            .fa-pencil-alt:hover { color: #090; }
        }
    }
}