// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.del-btn {
    background:none;
    border:none;
    font-size:1em;
    color:blue;
}

// Navbar
@import 'sidenav';
// Pages
@import 'dashboard',
'lists',
'campaign',
'campaign/templates',
'campaign/list',
'campaign/create',
'campaign/show';
